<!DOCTYPE html>
<html>
<head>
    <title>Web SFTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .folder { font-weight: bold; }
        a { text-decoration: none; }
    </style>
</head>
<body>
    <h2>Directory: {{ path if path else '/' }}</h2>
    {% if path %}
    <p><a href="{{ '../' }}">..</a></p>
    {% endif %}
    <ul>
    {% for file in files %}
        <li>
            <a href="{{ file.name }}" 
            {{ 'class="folder"' if file.type == 'dir' }}
            title="{{ file.name }}{{ '/' if file.type == 'dir' }}">
                <i class="{{ 'fas fa-folder' if file.type == 'dir' else 'fas fa-file' }}"></i>
                {{ file.name }}{{ '/' if file.type == 'dir' }}
            </a>
        </li>
    {% endfor %}
    </ul>

    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>
</html>